.styles-ProfileNavBar{
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilenavlinks{
    margin: 1rem 0;
}

.friendrequestbutton{
    width: 10rem;
}

.profilephoto{
    max-height: 15rem;
    max-width: 15rem;
    border: 1rem solid #385591;
    border-radius: 2rem;
}