@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');


.postPhoto {
    max-width: 30rem;
    max-height: 20rem;
    border: solid;
    border: 2px solid #385591;
    box-shadow: 5px 5px #5b82d0;
}
.postprofilephoto{
    max-width: 5rem;
    max-height: 5rem;
    border: .25rem solid #385591;
    border-radius: 3rem;
}

.styles-Post {
    background-color: white;
    box-shadow: 5px 5px #385591;
    border-color: #385591;
    border: 1px solid #385591;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50vw;

    text-align: center;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-container {
    list-style: none;
    display: flex;
    justify-content: center;
}

.post__footer {

     display: flex;
     justify-content: space-between;  
     margin-top: 20px;
     
}

button {
    background-color: #385591;
    color: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
	padding: 2px 18px 3px 18px;
	border-top: 1px white solid;
	border-left: 1px white solid;
	border-right: 1px #000033 solid;
	border-bottom: 1px #000033 solid; 
}

.comment{
    width: 100%;
}

.newsfeed-name{
    float: left;
    
}

.nfn{
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: larger;

}