.Post .postPhoto {
    width: 500px;
    height: 300px;
}

.styles-Post {
    /* display: flex;
    flex-direction: row;*/
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px #385591;
    border-color: #385591;
    border: 1px solid #385591;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 35vw;
    text-align: center;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}