@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');


.Post .postPhoto {
    width: 500px;
    height: 300px;
}

.styles-Post {
    /* display: flex;
    flex-direction: row;*/
    justify-content: center;
    background-color: white;

    box-shadow: 5px 5px #385591;
    border-color: #385591;
    border: 1px solid #385591;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 35vw;

    text-align: center;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

.post__footer {

     display: flex;
     justify-content: space-between;  
     margin-top: 20px;
     
}

button {
    background-color: #385591;
    color: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
	padding: 2px 18px 3px 18px;
	border-top: 1px white solid;
	border-left: 1px white solid;
	border-right: 1px #000033 solid;
	border-bottom: 1px #000033 solid; 
}

.comment{
    width: 100%;
}

.newsfeed-name{
    float: left;
    
}

.nfn{
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: larger;

}